.txt-h1 {
  font-size: $text-h1;
  line-height: $text-line-height-md;
  font-weight: 800;
}
.txt-h2 {
  font-size: $text-h2;
  line-height: $text-line-height-md;
  font-weight: 800;
}
.txt-h3 {
  font-size: $text-h3;
  line-height: $text-line-height-md;
  font-weight: 800;
}
.txt-h4 {
  font-size: $text-h4;
  line-height: $text-line-height-md;
  font-weight: 800;
}
.txt-h5 {
  font-size: $text-h5;
  line-height: $text-line-height-sm;
  font-weight: 700;
}
.txt-h6 {
  font-size: $text-h6;
  line-height: $text-line-height-sm;
  font-weight: 700;
}
.txt-btn {
  font-size: $text-buttons;
  line-height: $text-line-height-sm;
  font-weight: 600;
}
.txt {
  font-size: $text-paragraphs;
  line-height: $text-line-height-lg;
  font-weight: 400;
}
.txt-sm {
  font-size: $text-paragraphs-small;
  line-height: $text-line-height-lg;
  font-weight: 400;
}
.txt-sm-bold {
  font-size: $text-paragraphs-small;
  line-height: $text-line-height-lg;
  font-weight: 700;
}
.txt-sm-caps {
  font-size: $text-paragraphs-small;
  line-height: $text-line-height-lg;
  text-transform: uppercase;
  font-weight: 400;
}
.txt-muted {
  color: $color-p-0;
}
.txt-prim {
  color: $color-p-0-light;
}
.txt-sec {
  color: $color-p-0-lighter;
}
.bg-prim {
  background-color: $color-p-3;
}
.bg-sec {
  background-color: $color-p-4;
}
.border-prim {
  border: 1px solid $color-borders;
}
.border-sec {
  border: 1px solid $color-p-1;
}
.elevation-1 {
  box-shadow: $effect-smooth-shadow-l1;
}
.elevation-2 {
  box-shadow: $effect-smooth-shadow-l2;
}
.elevation-3 {
  box-shadow: $effect-smooth-shadow-l3;
}
.box-prim {
  border: 1px solid $color-borders;
  background-color: $color-p-3;
  border-radius: 1rem;
}
.box-sec {
  border: 1px solid $color-p-1;
  background-color: $color-p-4;
  border-radius: 1rem;
}