body {
  font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-p-4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:visited,
button {
  cursor: pointer;
  text-decoration: none;
}
