@import "../../styles/abstracts/mixins/mixins";
@import "../../styles/abstracts/helpers/helpers";
@import "../../styles/abstracts/variables/variables";

.playlistItem {
  width: 100%;
  padding: 0.5rem 1rem;
  @include add-borders(transparent, #00000000, $structure-radius-sm);
  transition: background-color 0.4s $easing-expo;
  cursor: pointer;
  @include respond-to("small") {
    padding: 1rem;
    margin-left: -0.5rem;
  }

  &:hover {
    background-color: $color-hover-1;
  }

  &.--is-playing,
  &:active {
    background-color: $color-highlight-1;
  }

  &:hover p,
  &:focus p,
  &:focus-within p,
  &:active p,
  &:hover svg,
  &:focus svg,
  &:focus-within svg,
  &:active svg,
  &.--is-playing {
    color: $color-p-0-light;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__head,
  &__body,
  &__body .reactions {
    display: grid;
    align-items: center;
    justify-content: space-between;
  }

  &__grid {
    grid-template-columns: auto 1fr;
    gap: 2rem;
  }

  &__head {
    grid-template-columns: toRem(28) 1fr auto;
    gap: 1rem;
    @include respond-to("medium") {
      display: block;
      img,
      svg {
        display: none;
      }
    }
    @include respond-to("small") {
      display: none;
    }
  }

  &__head img {
    border-radius: $structure-radius-sm;
    width: 35px;
    height: 35px;
  }

  &__body {
    width: calc(100% - 150px);
    grid-template-columns: 1fr 1fr auto;
    gap: 1rem;
    @include respond-to("large") {
      width: 100%;
      margin-left: 2rem;
    }
    @include respond-to("small") {
      margin-left: 0;
      gap: 0.5rem;
    }
  }

  &__body > * {
    margin: 0 -0.75rem;
    padding: 0 0.75rem;
    @include truncate($text-paragraphs, $text-line-height-md, 1);
  }

  &__body .reactions {
    grid-template-columns: repeat(2, 30px);
    gap: 1rem;
    @include respond-to("small") {
      grid-template-columns: 1fr;
    }
  }

  &__body .reactions button:last-child {
    @include respond-to("small") {
      display: none;
    }
  }

  &__body button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
}
