@import "../../styles/abstracts/variables/variables";
@import "../../styles/abstracts/helpers/helpers";
@import "../../styles/abstracts/mixins/mixins";

.disclaimer {
  @include add-dark-wrapper;
  display: inline-block;
  height: auto;
  width: 330px;
  @include respond-to("small") {
    width: 270px;
  }
  @include respond-to("x-small") {
    width: 100%;
    max-width: 270px;
    margin: 0 2.5rem;
  }

  &__head {
    width: 100%;
  }
  &__head img {
    border-radius: $structure-radius-sm;
    width: inherit;
  }
  &__body h2 {
    margin: 0.5rem 0;
  }
  &__body p {
    white-space: pre-wrap;
  }
}
