.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $color-p-0-light;
  text-align: center;
  transition: background-color 0.4s $easing-expo;
  @include add-borders($color-p-4, $color-primary, $structure-radius-sm);

  &:hover,
  &:focus,
  &:active {
    background-color: darken($color-primary, 10%);
  }

  &--fluid {
    width: 100%;
  }

  &--rounded {
    border-radius: $structure-radius-sm;
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--flex::after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    background-color: inherit;
  }

  &--google {
    @include add-borders(
      darken($color-google-red, 20%),
      $color-google-red,
      $structure-radius-xsm
    );
  }

  &--google:hover,
  &--google:focus,
  &--google:active {
    background-color: darken($color-google-red, 15%);
  }

  &--facebook {
    background-color: $color-facebook-blue;
    @include add-borders(
      darken($color-facebook-blue, 20%),
      $color-facebook-blue,
      $structure-radius-xsm
    );
  }

  &--facebook:hover,
  &--facebook:focus,
  &--facebook:active {
    background-color: darken($color-facebook-blue, 15%);
  }

  &:disabled,
  &:hover:disabled,
  &:focus:disabled,
  &:active:disabled {
    color: #8b8b8b;
    background-color: $color-p-1
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend .btn;
}

a.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  @include respond-to("x-small") {
    width: 100%;
    justify-content: center;
  }
}
