@import "../../styles/abstracts/variables/variables";
@import "../../styles/abstracts/mixins/mixins";

.playlistCover {
  width: 100%;
  position: relative;
  @include add-borders($color-borders, $color-p-5, $structure-radius-md);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: $structure-radius-md;
    @include add-shadow($effect-smooth-shadow-l2);
  }

  &.--stacked {
    height: 210px;
    max-height: 210px;
    @include respond-to("x-small") {
      height: 170px;
    }
  }
  &.--card {
    height: 255px;
    max-height: none;
    display: flex;
    flex-direction: column;
    @include respond-to("x-small") {
      height: 180px;
    }
  }

  &.--stacked &__background {
    border-radius: $structure-radius-md;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &.--card &__background {
    border-top-left-radius: $structure-radius-md;
    border-top-right-radius: $structure-radius-md;
    height: 120px;
    width: 100%;
    @include respond-to("x-small") {
      height: 90px;
    }
  }

  &.--stacked &__background img {
    border-radius: $structure-radius-md;
  }

  &__background img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: $structure-radius-md;
    border-top-right-radius: $structure-radius-md;
  }

  &.--stacked &__background {
    border-radius: $structure-radius-md;
  }

  &.--stacked &__background .overlay {
    border-radius: $structure-radius-md;
  }

  &.--card:after,
  &.--stacked:after {
    border-radius: $structure-radius-md;
  }

  &:after {
    content: "";
    position: absolute;
    background-color: #7ea7ff00;
    transition: background-color 0.25s $easing-expo;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover:after {
    background-color: #7ea6ff21;
  }

  &__background .overlay {
    width: inherit;
    height: inherit;
    border-top-left-radius: $structure-radius-md;
    border-top-right-radius: $structure-radius-md;
    background: linear-gradient(90deg, #0d111b 3%, #0d111b00 100%);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__flexible {
    padding: 1rem 1.5rem;
  }

  &.--stacked &__flexible .content .txt-h6 {
    max-width: 120px;
  }

  &.--stacked &__flexible {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.--card &__flexible {
    display: block;
    position: initial;
    height: 100%;
  }

  &.--stacked &__flexible .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-right: 1rem;
    width: 50%;
    @include respond-to("x-small") {
      width: 100%;
    }
  }

  &.--card &__flexible .content {
    position: initial;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.--card &__flexible .content .txt-sm {
    opacity: 0.6;
    @include truncate($text-paragraphs-small, $text-line-height-md, 1);
    @include respond-to("x-small") {
      @include truncate($text-paragraphs-small, $text-line-height-md, 1);
    }
  }

  &.--card .infoBadge {
    position: absolute;
    z-index: 10;
    top: 1rem;
    right: 1rem;
  }

  &.--stacked .infoBadge {
    @include respond-to("x-small") {
      position: absolute;
      z-index: 10;
      right: 1rem;
    }
  }
}
