:root {
  /* Color Variabls */
  --highlight-1: #5f72a3;
  --highlight-2: #5f72a3;
  --hover-1: #06080d;
  --p-4: #181720;
  --p-3: #1f1d2b;
  --p-2: #252936;
  --p-1: #353340;
  --p-0: #706f85;
  --borders: #5b647c;
  --borders-error: #f02c20;
  --borders-success: #0fbb4a;
  --input-bg: #282633;
  --error-text: #f54439;
  --primary: #3a3c9a;
  --primary-100: #383988;

  /* Text-size Variabls */
  --h1: 2rem;
  --h2: 1.88rem;
  --h3: 1.75rem;
  --h4: 1.5rem;
  --h5: 1.31rem;
  --h5-alt: 1.31rem;
  --h6: 1.12rem;
  --h6-alt: 1.12rem;
  --buttons: 1rem;
  --paragraphs: 1rem;
  --paragraphs--small: 0.88rem;
  --paragraphs--small-bold: 0.88rem;
  --small--caps: 0.81rem;
  --nav--items: 1rem;

  /* Effect Variabls */
  --progress--glow: 0px -0.18115200102329254px 1.222775936126709px #5d5fef14,
    0px -0.5008620619773865px 3.380819082260132px #5d5fef1f,
    0px -1.2058829069137573px 8.13970947265625px #5d5fef29,
    0px -4px 27px #5d5fef3d;
  --smooth-shadow-l1: 0px 0.7246080040931702px 2.354975938796997px #0000000a,
    0px 2.003448247909546px 6.511207103729248px #0000000d,
    0px 4.823531627655029px 15.676478385925293px #00000012,
    0px 16px 52px #0000001c;
  --smooth-shadow-l2: 0px 1.4492160081863403px 4.438223838806152px #00000012,
    0px 4.006896495819092px 12.27112102508545px #0000001a,
    0px 9.647063255310059px 29.544132232666016px #00000024,
    0px 32px 98px #00000036;
  --smooth-shadow-l3: 0px 1.902095913887024px 2.7625679969787598px #0000001a,
    0px 5.25905179977417px 7.638146877288818px #00000024,
    0px 12.661770820617676px 18.38971519470215px #00000030,
    0px 42px 61px #0000004a;
  --shadow-md-1: 0px 8.640000343322754px 15.09000015258789px #0000001a;
  --shadow-md-2: 0px 12.640000343322754px 25.09000015258789px #00000047;
  --shadow-md-3: 0px 17.639999389648438px 25.09000015258789px #00000054;
}

@tailwind base;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:visited,
button {
  cursor: pointer;
  text-decoration: none;
}

@tailwind components;
@tailwind utilities;
